<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/servicios.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/img/iconos/s3favicon.ico" type="image/x-icon">

    <title>Sport+ | Servicios</title>
</head>
<body>

<header>
    <div class="logo-Sport+">
        <a href="../index.html"><img id="logo" src="../static/img/Logos/s3.png" alt="logo"></a>
    </div>
    <nav class ="menu-navegacion">
            <a href="../index.html">INICIO</a>
            <a href="quienes-somos.html">QUIÉNES SOMOS</a>
            <a href="servicios.html">SERVICIOS</a>
            <a href="contacto.html">CONTACTO</a>
            <a href="../templates/admin/tabla_clientes.html">ADMIN</a>
    </nav>
</header>

<main>

<section id="banner-servicios">
        <h1>SERVICIOS</h1>
        <p>Ofrecemos entrenamiento personalizado, clases grupales y programas de nutrición adaptados. <br> Descubrí cómo podemos ayudarte a alcanzar tus objetivos de salud y bienestar</p>
</section>

<section class="seccion-horarios">
    <h2>HORARIOS</h2>
    <div class="scroll-indicator">
        Desplace horizontalmente para ver la tabla completa
      </div>
    <table>
        <tr>
            <th>Hora</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
        </tr>
        <tr>
            <td>8:00 - 9:00</td>
            <td>Yoga</td>
            <td>Spinning</td>
            <td>Yoga</td>
            <td>Funcional</td>
            <td>Pilates</td>
            <td>---</td>
        </tr>
        <tr>
            <td>9:00 - 10:00</td>
            <td>Pilates</td>
            <td>---</td>
            <td>---</td>
            <td>Funcional</td>
            <td>Spinning</td>
            <td>---</td>
        </tr>
        <tr>
            <td>10:00 - 11:00</td>
            <td>Zumba</td>
            <td>Yoga</td>
            <td>Zumba</td>
            <td>Funcional</td>
            <td>---</td>
            <td>Spinning</td>
        </tr>
        <tr>
            <td>11:00 - 12:00</td>
            <td>---</td>
            <td>Funcional</td>
            <td>Spinning</td>
            <td>Yoga</td>
            <td>Zumba</td>
            <td>---</td>
        </tr>
        <tr>
            <td>12:00 - 13:00</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>Pilates</td>
            <td>Zumba</td>
            <td>Yoga</td>
        </tr>
        <tr>
            <td>13:00 - 14:00</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <td>14:00 - 15:00</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <td>15:00 - 16:00</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <td>16:00 - 17:00</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>Pilates</td>
        </tr>
        <tr>
            <td>17:00 - 18:00</td>
            <td>Boxeo</td>
            <td>Funcional</td>
            <td>Boxeo</td>
            <td>Funcional</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <td>18:00 - 19:00</td>
            <td>---</td>
            <td>Spinning</td>
            <td>---</td>
            <td>---</td>
            <td>Zumba</td>
            <td>---</td>
        </tr>
        <tr>
            <td>19:00 - 20:00</td>
            <td>Spinning</td>
            <td>---</td>
            <td>---</td>
            <td>Boxeo</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <td>20:00 - 21:00</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        <tr>
            <td>21:00 - 22:00</td>
            <td>Funcional</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    </table>
</section>

<section class="seccion-planes-y-precios">
    <h2>PLANES Y PRECIOS</h2>

    <div class="plan-container">
        <div class="plan plan-bronce">
            <div class="plan-titulo">
                <h3>Plan Bronce</h3>
            </div>
            <div class="plan-descripcion">
                <p>Permite tomar hasta 2 actividades al mes y hasta 2 clases por semana.</p>
            </div>
            <div class="plan-precio">
                <p>Precio: $15000 por mes</p>
            </div>
        </div>

        <div class="plan plan-plata">
            <div class="plan-titulo">
                <h3>Plan Plata</h3>
            </div>
            <div class="plan-descripcion">
                <p>Permite tomar hasta 4 actividades al mes y hasta 4 clases por semana.</p>
            </div>
            <div class="plan-precio">
                <p>Precio: $20000 por mes</p>
            </div>
        </div>

        <div class="plan plan-oro">
            <div class="plan-titulo">
                <h3>Plan Oro</h3>
            </div>
            <div class="plan-descripcion">
                <p>Acceso ilimitado a todas las actividades y clases.</p>
                <br>
            </div>
            <div class="plan-precio">
                <p>Precio: $25000 por mes</p>
            </div>
        </div>

        <div class="plan plan-diamante">
            <div class="plan-titulo">
                <h3>Plan Diamante</h3>
            </div>
            <div class="plan-descripcion">
                <p>Acceso ilimitado a todas las actividades y clases.</p>
                <br>
            </div>
            <div class="plan-precio">
                <p>Precio: $250000 pago único</p>
            </div>
        </div>
    </div>
</section>

<section id="consultas">

    <div id="consultas-left">
        
        <div id="consultas-titulo">
            <h3>CONTACTANOS</h3>
        </div>
        
        <p>
        Esperamos tu consulta.
        </p>

    </div>

    <div id="consultas-right">
       
        <form name="formularioconsultas" id="formularioconsultas" method="post">
           
            <div id="campo-nombre">
                <div>
                <label for="nombre">Nombre </label>
                </div>
                
                <input type="text" name="nombre" id="nombre">  
            </div>
            <div id = "Resultado-Nombre">

            </div>
            
            <div id="campo-mail">
                <div>
                <label for="mail">Email </label>
                </div>
                <input type="email" name="mail" id="mail">
            </div>
           
            <div id="campo-consulta">
                <div>
                    <label for="consulta-textarea">Consulta</label>
                </div>
                <textarea name="consulta" id="consulta-textarea" cols="30" rows="10"></textarea>
            </div>
           <div id="campo-enviar">
            <input type="submit" value="Enviar">
            </div>

        </form>
  
    </div>

</section>
</main>

<footer>

    <div id="footer-left">
   
        <p>
        Suscribite para recibir nuestras novedades
        </p>
        <form name="newsletter" id="newsletter" action="https://formspree.io/f/xayrvrlg" method="post">
         <div>
            
         <input type="email" name="correo" id="correo" placeholder="Escribí tu correo acá" required> 
         </div>

         <div id="newsletter-enviar">
            <input type="submit" value="Enviar">
            
        </div>
    </form>
    </div>

    <div id="footer-right">

        <div id="footer-right-info">
            <p id="footer-right-mail">info@sportmas.com</p>
            <p id="footer-right-cel">11-2399-7732</p>
            <p id="footer-right-ubic">Av. Córdoba 2456, CABA</p>
        </div>
    </div>
</footer>

<div id="creditos">
<p>© 2024 Fullstack Python Codo a Codo - Diseño y desarrollo: Sebastián - Lucas - Alejandro</p>
</div>

<script src="../static/js/consulta.js"></script>
<script src="../static/js/newsletter.js"></script>
</body>
</html>